### Python dictionary:

Rules and guidelines:

* Dict is enclosed by {} with key : pair value.
* Dict can not stored duplicate key
* Dict just like Json dataset.
* Dict keys are immutable whereas dictionary value can be immutable and mutable based on the nature of the work.
* Dict can be created using dict() and {} as well

In [1]:
dct = {}

In [2]:
type(dct)

dict

In [4]:
dct = {"empid" : [101,102,103,104],
       "employeename" : ['A','B','C','D'],
       "city" : ['goa','chennai','sydney','new york'],
       'salary' : [1000,3400,4500,3400]}

In [5]:
dct

{'empid': [101, 102, 103, 104],
 'employeename': ['A', 'B', 'C', 'D'],
 'city': ['goa', 'chennai', 'sydney', 'new york'],
 'salary': [1000, 3400, 4500, 3400]}

In [6]:
# what is keys here
dct.keys()

dict_keys(['empid', 'employeename', 'city', 'salary'])

In [7]:
# values
dct.values()

dict_values([[101, 102, 103, 104], ['A', 'B', 'C', 'D'], ['goa', 'chennai', 'sydney', 'new york'], [1000, 3400, 4500, 3400]])

In [8]:
dct.items()

dict_items([('empid', [101, 102, 103, 104]), ('employeename', ['A', 'B', 'C', 'D']), ('city', ['goa', 'chennai', 'sydney', 'new york']), ('salary', [1000, 3400, 4500, 3400])])